/**
 * Header
 *
 * The footer of the site.
 *
 * Markup: site__header.html.twig
 *
 * Styleguide: ui.site__header
 */

%site__header {
  .nav__container {
    @extend .clearfix;
    overflow: hidden;
    max-width: $screen-lg;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;

    @media(min-width: $screen-md) {
      display: flex;
    }

    @media (min-width: $screen-lg + $grid-gutter-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-header {
    @media(min-width: $screen-lg) {
      margin-left: $grid-gutter-width / 2;
    }
  }

  .navbar-default {
    border: none;
    border-radius: 0;
    background-color: $c__white !important;
  }

  @media(min-width: $screen-md) {
    .navbar-collapse {
      padding-right: 0;
    }
  }

  #navigation {
    @media(min-width: $screen-md) {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: flex-start;
      padding-left: 100px;
    }

    ul:first-of-type {
      + ul {
        margin-top: 1.5rem;
      }
    }

  }
}

#header {
  @extend %site__header;

  #logo {
    margin-top: 3.5rem !important;
  }
}

#header .search-block-form {
  margin-top: 1.75rem;
}
