/**
 * Header
 *
 * The header of the site.
 *
 * Markup: site__header.html.twig
 *
 * Styleguide: ui.site__header
 */

%site__header {
  background-color: $gray-100;

  .navbar {
    @include media-breakpoint-up(md) {
      flex-wrap: wrap;
    }
  }

  #site-navigation {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .menu--main {
    flex-grow: 1;
  }

  #nav--primary {
    flex-basis: 100%;
  }

  #nav--secondary {
    flex-grow: 1;
  }
}

#header {
  @extend %site__header;
}

