<header id="header" role="banner">
  <nav class="navbar navbar-expand-md navbar-light">
    {% include '@atoms/logo/logo.html.twig' %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navigation" aria-controls="site-navigation"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="site-navigation">
      {% if drupal is defined %} 
        {{ elements.THEMENAME_main_menu }} 
        {{ elements.SECONDARYNAVBLOCK }} 
        {{ elements.THEMENAME_search }}
      {% else %} 
        {% include '@molecules/nav--primary/nav--primary.html.twig' with navigation.primary %} 
        {% include '@molecules/nav--secondary/nav--secondary.html.twig' with navigation.secondary %} 
        {% include '@molecules/header__search/header__search.html.twig'%}
      {% endif %}
      <!-- /.navbar-collapse -->
    </div>
  </nav>
</header>