<?xml version="1.0" encoding="UTF-8"?>
<svg width="57px" height="57px" viewBox="0 0 57 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
    <title>kalamuna-logo-horizontal</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-3" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-5" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-7" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-9" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-11" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-13" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-15" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-17" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-19" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-21" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-23" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-25" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-27" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-29" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-31" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-33" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-35" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-37" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-39" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-41" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-43" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-45" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-47" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-49" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-51" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-53" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-55" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-57" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-59" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-61" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-63" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-65" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="kalamuna-logo-horizontal">
            <g id="Group">
                <g id="Clipped">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="SVGID_1_"></g>
                    <polygon id="Shape" fill="#6B4FA0" fill-rule="nonzero" mask="url(#mask-2)" points="49.1365978 14.3863911 39.2873132 8.67828299 39.2873132 20.2186645 49.1715739 26.5273132"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-4" fill="white">
                        <use xlink:href="#path-3"></use>
                    </mask>
                    <g id="SVGID_3_"></g>
                    <polygon id="Shape" fill="#68328B" fill-rule="nonzero" mask="url(#mask-4)" points="49.1715739 33.6837838 49.1715739 25.6322734 38.3125278 19.3711924 38.3125278 25.3433704"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-6" fill="white">
                        <use xlink:href="#path-5"></use>
                    </mask>
                    <g id="SVGID_5_"></g>
                    <polygon id="Shape" fill="#E8903F" fill-rule="nonzero" mask="url(#mask-6)" points="24.6186645 45.4658506 14.3489666 50.985787 24.6186645 56.9604134 34.2577424 51.4068998"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-8" fill="white">
                        <use xlink:href="#path-7"></use>
                    </mask>
                    <g id="SVGID_7_"></g>
                    <polygon id="Shape" fill="#D65197" fill-rule="nonzero" mask="url(#mask-8)" points="39.0127504 36.7686804 39.4964706 48.4045469 49.1715739 42.8157075 49.1715739 31.5694754"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-10" fill="white">
                        <use xlink:href="#path-9"></use>
                    </mask>
                    <g id="SVGID_9_"></g>
                    <polygon id="Shape" fill="#CB352D" fill-rule="nonzero" mask="url(#mask-10)" points="33.250779 39.539841 34.2577424 51.4068998 39.4964706 48.4045469 39.5321463 37.1583148"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-12" fill="white">
                        <use xlink:href="#path-11"></use>
                    </mask>
                    <g id="SVGID_11_"></g>
                    <polygon id="Shape" fill="#D03D29" fill-rule="nonzero" mask="url(#mask-12)" points="34.2934181 40.161717 29.5604452 37.2447059 29.7874404 42.8506836 22.5564706 44.7841653 34.2577424 51.4068998"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-14" fill="white">
                        <use xlink:href="#path-13"></use>
                    </mask>
                    <g id="SVGID_13_"></g>
                    <polygon id="Shape" fill="#90C64D" fill-rule="nonzero" mask="url(#mask-14)" points="9.74050874 8.83322734 0.10073132 14.3863911 0.10073132 25.6322734 0.10073132 25.6322734 0.10073132 25.6322734 10.194849 20.2714785"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-16" fill="white">
                        <use xlink:href="#path-15"></use>
                    </mask>
                    <g id="SVGID_15_"></g>
                    <polygon id="Shape" fill="#3C9DD7" fill-rule="nonzero" mask="url(#mask-16)" points="24.6186645 11.9667409 34.2577424 5.79414944 24.6186645 0.2063593 14.9792369 5.79414944"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-18" fill="white">
                        <use xlink:href="#path-17"></use>
                    </mask>
                    <g id="SVGID_17_"></g>
                    <polygon id="Shape" fill="#2A4796" fill-rule="nonzero" mask="url(#mask-18)" points="39.4964706 8.79825119 34.2577424 5.79414944 24.2255326 11.6239746 29.4642607 14.6280763"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-20" fill="white">
                        <use xlink:href="#path-19"></use>
                    </mask>
                    <g id="SVGID_19_"></g>
                    <polygon id="Shape" fill="#097E4D" fill-rule="nonzero" mask="url(#mask-20)" points="24.6186645 11.3829889 14.9792369 5.79414944 9.74050874 8.83322734 9.74050874 20.0444833 9.77513514 20.0444833 14.9792369 17.7224165 19.4145628 19.5904928 19.8339269 14.8760572"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-22" fill="white">
                        <use xlink:href="#path-21"></use>
                    </mask>
                    <g id="SVGID_21_"></g>
                    <polygon id="Shape" fill="#324999" fill-rule="nonzero" mask="url(#mask-22)" points="39.5492846 8.79825119 29.0886169 13.9848649 28.9273768 20.1238792 34.2934181 17.2680763 39.5492846 20.7062321"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-24" fill="white">
                        <use xlink:href="#path-23"></use>
                    </mask>
                    <g id="SVGID_23_"></g>
                    <g id="Group" mask="url(#mask-24)" fill-rule="nonzero">
                        <g transform="translate(19.236884, 11.192369)" id="Shape">
                            <polygon fill="#34433E" points="4.98864865 6.19812401 5.41675676 12.0828617 10.6208585 8.39812401 10.6208585 3.19402226"></polygon>
                            <polygon fill="#34403D" points="5.3817806 0.190620032 0.142352941 3.22934817 0.142352941 4.48779014 0.142352941 8.39812401 5.37688394 12.4214308 5.3817806 6.4072814 10.6208585 3.19402226"></polygon>
                        </g>
                    </g>
                </g>
                <g id="Clipped">
                    <mask id="mask-26" fill="white">
                        <use xlink:href="#path-25"></use>
                    </mask>
                    <g id="SVGID_25_"></g>
                    <polygon id="Shape" fill="#7C2E88" fill-rule="nonzero" mask="url(#mask-26)" points="37.3496343 24.7669634 34.2577424 28.1288712 38.658442 31.9538633 39.5321463 37.1583148 49.1715739 31.5694754 49.1715739 31.5694754"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-28" fill="white">
                        <use xlink:href="#path-27"></use>
                    </mask>
                    <g id="SVGID_27_"></g>
                    <polygon id="Shape" fill="#ECCF37" fill-rule="nonzero" mask="url(#mask-28)" points="9.74050874 48.369221 10.551256 36.5738633 0.10073132 31.4404134 0.10073132 42.8157075 0.10073132 42.8157075 0.10073132 42.8157075"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-30" fill="white">
                        <use xlink:href="#path-29"></use>
                    </mask>
                    <g id="SVGID_29_"></g>
                    <polygon id="Shape" fill="#44A147" fill-rule="nonzero" mask="url(#mask-30)" points="10.4218442 30.7660731 0.10073132 25.6322734 0.10073132 31.5694754 9.74050874 37.1583148"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-32" fill="white">
                        <use xlink:href="#path-31"></use>
                    </mask>
                    <g id="SVGID_31_"></g>
                    <polygon id="Shape" fill="#4AA847" fill-rule="nonzero" mask="url(#mask-32)" points="9.74050874 26.0170111 9.74050874 20.0444833 0.10073132 25.6322734 9.74050874 31.2204134 9.74050874 31.2204134 17.4153259 28.6797456"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-34" fill="white">
                        <use xlink:href="#path-33"></use>
                    </mask>
                    <g id="SVGID_33_"></g>
                    <polygon id="Shape" fill="#5E7E42" fill-rule="nonzero" mask="url(#mask-34)" points="20.3683625 31.150461 14.245787 28.6010493 9.74050874 31.2204134 14.594849 36.2846105"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-36" fill="white">
                        <use xlink:href="#path-35"></use>
                    </mask>
                    <g id="SVGID_35_"></g>
                    <polygon id="Shape" fill="#38383A" fill-rule="nonzero" mask="url(#mask-36)" points="24.9677266 22.8208903 19.3792369 19.5904928 19.3792369 25.9816852"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-38" fill="white">
                        <use xlink:href="#path-37"></use>
                    </mask>
                    <g id="SVGID_37_"></g>
                    <polygon id="Shape" fill="#BB3E2D" fill-rule="nonzero" mask="url(#mask-38)" points="18.89062 37.4027981 18.89062 43.5841335 18.9255962 43.6191097 25.247186 40.0564388 25.2122099 33.8758029 25.1072814 33.805151"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-40" fill="white">
                        <use xlink:href="#path-39"></use>
                    </mask>
                    <g id="SVGID_39_"></g>
                    <polygon id="Shape" fill="#DD9227" fill-rule="nonzero" mask="url(#mask-40)" points="19.4152623 37.6123052 14.9792369 35.617965 9.74050874 37.1583148 9.74050874 48.369221 19.4152623 46.914213"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-42" fill="white">
                        <use xlink:href="#path-41"></use>
                    </mask>
                    <g id="SVGID_41_"></g>
                    <polygon id="Shape" fill="#1C5F43" fill-rule="nonzero" mask="url(#mask-42)" points="19.4145628 19.5904928 14.9792369 17.0410811 14.9792369 17.0410811 14.9792369 17.0410811 9.77513514 20.0444833 9.74050874 20.0444833 9.74050874 20.0444833 9.74050874 26.0170111 16.9875676 30.1861685 19.4145628 28.4261685"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-44" fill="white">
                        <use xlink:href="#path-43"></use>
                    </mask>
                    <g id="SVGID_43_"></g>
                    <polygon id="Shape" fill="#5B7B42" fill-rule="nonzero" mask="url(#mask-44)" points="20.1130366 31.150461 14.9792369 34.1195866 9.74050874 31.2204134 9.74050874 37.1583148 14.9792369 40.161717 19.4152623 37.6123052"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-46" fill="white">
                        <use xlink:href="#path-45"></use>
                    </mask>
                    <g id="SVGID_45_"></g>
                    <polygon id="Shape" fill="#2D503F" fill-rule="nonzero" mask="url(#mask-46)" points="19.4145628 25.6322734 14.245787 28.6010493 19.7286486 31.726868"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-48" fill="white">
                        <use xlink:href="#path-47"></use>
                    </mask>
                    <g id="SVGID_47_"></g>
                    <polygon id="Shape" fill="#2F3689" fill-rule="nonzero" mask="url(#mask-48)" points="39.5492846 20.0840064 34.2577424 17.0061049 28.9840382 20.0903021 28.0414308 24.829221 35.026868 28.6363752 39.5492846 26.0170111"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-50" fill="white">
                        <use xlink:href="#path-49"></use>
                    </mask>
                    <g id="SVGID_49_"></g>
                    <polygon id="Shape" fill="#763439" fill-rule="nonzero" mask="url(#mask-50)" points="29.6132591 31.3949444 29.7874404 37.4724006 34.2934181 40.161717 35.0964706 33.5260413"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-52" fill="white">
                        <use xlink:href="#path-51"></use>
                    </mask>
                    <g id="SVGID_51_"></g>
                    <polygon id="Shape" fill="#633539" fill-rule="nonzero" mask="url(#mask-52)" points="29.8577424 29.50938 23.2916693 33.805151 29.8577424 37.6119555 29.8577424 37.6119555"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-54" fill="white">
                        <use xlink:href="#path-53"></use>
                    </mask>
                    <g id="SVGID_53_"></g>
                    <polygon id="Shape" fill="#B73731" fill-rule="nonzero" mask="url(#mask-54)" points="24.6536407 34.6078537 24.6536407 39.8472814 19.4152623 42.9216852 24.5049921 45.9163434 29.9619714 42.8856598 29.9619714 37.5420032"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-56" fill="white">
                        <use xlink:href="#path-55"></use>
                    </mask>
                    <g id="SVGID_55_"></g>
                    <polygon id="Shape" fill="#6F353A" fill-rule="nonzero" mask="url(#mask-56)" points="35.026868 28.6010493 29.3331002 31.3249921 34.2934181 34.1195866 34.2934181 40.161717 34.2934181 40.161717 39.5321463 37.1583148 39.5321463 31.185787"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-58" fill="white">
                        <use xlink:href="#path-57"></use>
                    </mask>
                    <g id="SVGID_57_"></g>
                    <polygon id="Shape" fill="#43433D" fill-rule="nonzero" mask="url(#mask-58)" points="19.4156121 31.0325914 19.4152623 37.6119555 25.0027027 34.3990461"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-60" fill="white">
                        <use xlink:href="#path-59"></use>
                    </mask>
                    <g id="SVGID_59_"></g>
                    <polygon id="Shape" fill="#3A383A" fill-rule="nonzero" mask="url(#mask-60)" points="28.7748808 25.0387281 28.6353259 32.2682989 35.0964706 28.6010493"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-62" fill="white">
                        <use xlink:href="#path-61"></use>
                    </mask>
                    <g id="SVGID_61_"></g>
                    <polygon id="Shape" fill="#D7812B" fill-rule="nonzero" mask="url(#mask-62)" points="19.4152623 42.9132909 9.74050874 48.369221 14.5630207 51.4723052 24.5049921 45.9163434"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-64" fill="white">
                        <use xlink:href="#path-63"></use>
                    </mask>
                    <g id="SVGID_63_"></g>
                </g>
                <g id="Clipped">
                    <mask id="mask-66" fill="white">
                        <use xlink:href="#path-65"></use>
                    </mask>
                    <g id="SVGID_65_"></g>
                    <polygon id="Shape" fill="#383739" fill-rule="nonzero" mask="url(#mask-66)" points="24.6361526 22.6040382 24.6183148 22.5938951 19.4145628 25.6322734 19.4156121 31.5565342 24.6536407 34.6078537 29.8577424 31.5694754 29.8577424 25.9816852 29.8577424 25.6322734 29.8577424 19.5904928"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
