{% include '@molecules/hero/hero.html.twig' with hero only %}

<section class="layout--2-up">
  <div>
    <div>

      <div class="tout--cta" style="height: 584px;">

        <div class="tout__wrapper">

          <div class="image">
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source
                srcset="/sites/default/files/styles/sod_tout_lg_1x/public/2017-07/students_lecture.jpg?itok=7LWmyD8c 1x, /sites/default/files/styles/sod_tout_lg_2x/public/2017-07/students_lecture.jpg?itok=he4nFSJI 2x"
                media="all and (min-width: 1199px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_lg_1x/public/2017-07/students_lecture.jpg?itok=7LWmyD8c 1x, /sites/default/files/styles/sod_tout_lg_2x/public/2017-07/students_lecture.jpg?itok=he4nFSJI 2x"
                media="all and (min-width: 991px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/students_lecture.jpg?itok=tyALN1hm 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/students_lecture.jpg?itok=QXLsMzfH 2x"
                media="all and (min-width: 767px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/students_lecture.jpg?itok=tyALN1hm 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/students_lecture.jpg?itok=QXLsMzfH 2x"
                media="all and (min-width: 540px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/students_lecture.jpg?itok=tyALN1hm 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/students_lecture.jpg?itok=QXLsMzfH 2x"
                media="all and (min-width: 0px)"
                type="image/jpeg">
              <!--[if IE 9]></video><![endif]-->

              <img src="/sites/default/files/styles/sod_tout_lg_2x/public/2017-07/students_lecture.jpg?itok=he4nFSJI" class="" alt="students in lecture hall" width="3300" height="2200">
            </picture>

          </div>

          <div class="content__wrapper" style="height: 206px;">

            <h3 class="tout__title" style="height: 20px;">Get Advanced Credentials</h3>

            <div class="tout__blurb" style="height: 44px;">
              <p>Expand your knowledge through our wide array of continuing education classes</p>

            </div>

            <a class="active link--icon" href="/">
              <span>View course listings</span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="icon replaced-svg">

                <style type="text/css">
                  .icon--svg {
                    fill: #fff;
                  }

                </style>

                <path
                  class="icon--svg"
                  d="M12,22.5C6.2,22.5,1.5,17.8,1.5,12C1.5,6.2,6.2,1.5,12,1.5c5.8,0,10.5,4.7,10.5,10.5 C22.5,17.8,17.8,22.5,12,22.5z M12,2.5c-5.2,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S17.2,2.5,12,2.5z M15,11.7 c0,0.1,0,0.2-0.1,0.2l-4.7,4.7c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.5-0.5c-0.1-0.1-0.1-0.1-0.1-0.2s0-0.2,0.1-0.2 l3.9-3.9L9.2,7.8C9.2,7.7,9.1,7.6,9.1,7.5s0-0.2,0.1-0.2l0.5-0.5C9.8,6.7,9.9,6.7,10,6.7c0.1,0,0.2,0,0.2,0.1l4.7,4.7 C14.9,11.5,15,11.6,15,11.7z"></path>
              </svg>
            </a>

            <a class="link--icon" href="http://sprint-sod.at.kalamuna.com/sites/default/files/2017-09/fillable_confidentiality_report.pdf">
              <span>fillable_confidentiality_report</span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="icon replaced-svg">

                <style type="text/css">
                  .icon--svg {
                    fill: #fff;
                  }

                </style>

                <path
                  class="icon--svg"
                  d="M12,22.5C6.2,22.5,1.5,17.8,1.5,12C1.5,6.2,6.2,1.5,12,1.5c5.8,0,10.5,4.7,10.5,10.5 C22.5,17.8,17.8,22.5,12,22.5z M12,2.5c-5.2,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S17.2,2.5,12,2.5z M15,11.7 c0,0.1,0,0.2-0.1,0.2l-4.7,4.7c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.5-0.5c-0.1-0.1-0.1-0.1-0.1-0.2s0-0.2,0.1-0.2 l3.9-3.9L9.2,7.8C9.2,7.7,9.1,7.6,9.1,7.5s0-0.2,0.1-0.2l0.5-0.5C9.8,6.7,9.9,6.7,10,6.7c0.1,0,0.2,0,0.2,0.1l4.7,4.7 C14.9,11.5,15,11.6,15,11.7z"></path>
              </svg>
            </a>

          </div>
        </div>
      </div>

      <div class="tout--cta" style="height: 584px;">

        <div class="tout__wrapper">

          <div class="image">

            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source
                srcset="/sites/default/files/styles/sod_tout_lg_1x/public/2017-07/dentistry_alumni_women.jpg?itok=FEeUIKEg 1x, /sites/default/files/styles/sod_tout_lg_2x/public/2017-07/dentistry_alumni_women.jpg?itok=yeZnExey 2x"
                media="all and (min-width: 1199px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_lg_1x/public/2017-07/dentistry_alumni_women.jpg?itok=FEeUIKEg 1x, /sites/default/files/styles/sod_tout_lg_2x/public/2017-07/dentistry_alumni_women.jpg?itok=yeZnExey 2x"
                media="all and (min-width: 991px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/dentistry_alumni_women.jpg?itok=UWP3mbP1 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/dentistry_alumni_women.jpg?itok=6hllKb71 2x"
                media="all and (min-width: 767px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/dentistry_alumni_women.jpg?itok=UWP3mbP1 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/dentistry_alumni_women.jpg?itok=6hllKb71 2x"
                media="all and (min-width: 540px)"
                type="image/jpeg">
              <source
                srcset="/sites/default/files/styles/sod_tout_sm_1x/public/2017-07/dentistry_alumni_women.jpg?itok=UWP3mbP1 1x, /sites/default/files/styles/sod_tout_sm_2x/public/2017-07/dentistry_alumni_women.jpg?itok=6hllKb71 2x"
                media="all and (min-width: 0px)"
                type="image/jpeg">
              <!--[if IE 9]></video><![endif]-->

              <img src="/sites/default/files/styles/sod_tout_lg_2x/public/2017-07/dentistry_alumni_women.jpg?itok=yeZnExey" class="" alt="three women alumni" width="2048" height="1369">

            </picture>

          </div>

          <div class="content__wrapper" style="height: 206px;">

            <h3 class="tout__title" style="height: 20px;">Gather with Alumni + Friends</h3>

            <div class="tout__blurb" style="height: 44px;">
              <p>From small gatherings to Alumni Weekend, find opportunities to reconnect</p>

            </div>

            <a class="active link--icon" href="/">
              <span>See events in your area</span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="icon replaced-svg">

                <style type="text/css">
                  .icon--svg {
                    fill: #fff;
                  }

                </style>

                <path
                  class="icon--svg"
                  d="M12,22.5C6.2,22.5,1.5,17.8,1.5,12C1.5,6.2,6.2,1.5,12,1.5c5.8,0,10.5,4.7,10.5,10.5 C22.5,17.8,17.8,22.5,12,22.5z M12,2.5c-5.2,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S17.2,2.5,12,2.5z M15,11.7 c0,0.1,0,0.2-0.1,0.2l-4.7,4.7c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.5-0.5c-0.1-0.1-0.1-0.1-0.1-0.2s0-0.2,0.1-0.2 l3.9-3.9L9.2,7.8C9.2,7.7,9.1,7.6,9.1,7.5s0-0.2,0.1-0.2l0.5-0.5C9.8,6.7,9.9,6.7,10,6.7c0.1,0,0.2,0,0.2,0.1l4.7,4.7 C14.9,11.5,15,11.6,15,11.7z"></path>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
