/**
 * Footer
 *
 * The footer of the site.
 *
 * Markup: site__footer.html.twig
 *
 * Styleguide: ui.site__footer
 */
%site__footer {
  background-color: $gray-700;
  color: $white;

  a {
    color: $white;
  }
}

#footer {
  @extend %site__footer;
}
