<footer id="footer">
  <div>
    <div>
      {% if drupal is defined %}
        {{ elements }}
      {% else %}
        {% include '@molecules/nav--footer/nav--footer.html.twig' with navigation.footer %}
      {% endif %}
    </div>
    <div class="copyright">© 2017 Kalamuna</div>
  </div>
</footer>
