/**
 * CTA Tout
 *
 * A tout with a button.
 *
 * Markup: tout--cta.html.twig
 *
 * Styleguide: sod-content.tout--cta
 */

%tout {
  @extend %tout;

  .tout__content {
    padding: 2em;
  }

  .tout__media {
    img {
      @extend .img-responsive;
      width: 100%;
      height: auto;
    }
  }
}

.tout {
 @extend %tout;
}
