<div class="search-block-form block block-search container-inline" id="block-search" role="search">
  <h2>{{ 'Search'|t }}</h2>
  <a href="/search" class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Toggle search input</span></a>
  <form action="/search" method="get" id="search-block-form" accept-charset="UTF-8">
    <div class="form-item form-type-search form-item-keys">
      <label for="search-text" class="visually-hidden">{{ 'Search'|t }}</label>
      <input title="{{ 'Enter the terms you wish to search for.'|t }}" type="text" id="edit-keys" name="search-text" value="" size="15" maxlength="128" class="form-search">
    </div>
    <div class="form-actions form-wrapper" id="edit-actions">
      <input type="submit" id="edit-submit" value="{{ 'Search'|t }}" class="button form-submit">
    </div>
  </form>
</div>
