/*
Kalastatic UI

User interface Elements

weight: -9

Styleguide ui
*/


/*
Kalastatic Content

Content elements

weight: -10

Styleguide content

*/


/*
Kalastatic Navigation

Navigation components; menus, navigations, breadcrumbs and other wayfinding.

weight: -8

Styleguide navigation

*/


/*
Kalastatic Media

Images, video, etc…

weight: -7

Styleguide media

*/


/*
Kalastatic Markup

Overrides of basic html tags

weight: -7

Styleguide markup

*/

@import 'base/custom-bootstrap';

@import 'base/variables';
@import 'base/extendables';

// Atoms.
@import 'atoms/a/a';
@import 'atoms/button/button';
@import 'atoms/breakpoint_visualizer/breakpoint_visualizer';
@import 'atoms/date/date';
@import 'atoms/image/image';
@import 'atoms/list/list';
@import 'atoms/list--ordered/list--ordered';
@import 'atoms/list--unordered/list--unordered';
@import 'atoms/logo/logo';
@import 'atoms/hamburger/hamburger';
@import 'atoms/picture/picture';
@import 'atoms/video/video';

// Molecules.
@import 'molecules/breadcrumb/breadcrumb';
@import 'molecules/hero/hero';
@import 'molecules/nav--footer/nav--footer';
@import 'molecules/nav--primary/nav--primary';
@import 'molecules/nav--secondary/nav--secondary';
@import 'molecules/tout/tout';
