/*
Kalastatic UI

User interface Elements

weight: -9

Styleguide ui
*/


/*
Kalastatic Content

Content elements

weight: -10

Styleguide content

*/


/*
Kalastatic Navigation

Navigation components; menus, navigations, breadcrumbs and other wayfinding.

weight: -8

Styleguide navigation

*/


/*
Kalastatic Media

Images, video, etc…

weight: -7

Styleguide media

*/


/*
Kalastatic Markup

Overrides of basic html tags

weight: -7

Styleguide markup

*/

@import 'base/custom-bootstrap';

@import 'base/variables';
@import 'base/extendables';

// Atoms.
@import '../components/atoms/a/a';
@import '../components/atoms/button/button';
@import '../components/atoms/breakpoint_visualizer/breakpoint_visualizer';
@import '../components/atoms/date/date';
@import '../components/atoms/image/image';
@import '../components/atoms/list/list';
@import '../components/atoms/list--ordered/list--ordered';
@import '../components/atoms/list--unordered/list--unordered';
@import '../components/atoms/logo/logo';
@import '../components/atoms/picture/picture';
@import '../components/atoms/video/video';

// Molecules.
@import '../components/molecules/breadcrumb/breadcrumb';
@import '../components/molecules/hero/hero';
@import '../components/molecules/nav--footer/nav--footer';
@import '../components/molecules/nav--primary/nav--primary';
@import '../components/molecules/nav--secondary/nav--secondary';
@import '../components/molecules/tout/tout';
