/**
 * Primary navigation
 *
 * Main site navigation.
 *
 * Markup: nav--primary.html.twig
 *
 * Styleguide: navigation.nav--primary
 */

%nav--primary {
  @extend .nav;
  @extend .navbar-nav;

  @include media-breakpoint-up(xs) {
    display: flex;
    flex-grow: 1;
  }

  > li {
    margin: 0;
    flex-grow: 1;

    @include media-breakpoint-up(xs) {
      text-align: center;
    }

    > a {
      font-size: $font-size-base + 2;

      @include media-breakpoint-up(lg) {
        max-width: inherit;
      }
    }
  }
}

#nav--primary {
  @extend %nav--primary;
}
