/**
 * Button
 *
 * A button element.
 *
 * .button--invert   - A button with inverted styling.
 *
 * Markup: button.html.twig
 *
 * Styleguide: markup.button
 */

%button-solid {
  border: 1px solid $primary;
  background-color: $primary;
  color: $white;
}

%button-solid--invert {
  background-color: $white;
  color: $primary !important;
  border-color: $primary;
}

%button-hollow {
  background-color: transparent;
  color: $primary !important;
  border-color: $primary;
}

%button-hollow--invert {
  background-color: transparent;
  color: $white;
  border-color: $white;
}

%button {
  @extend .btn;
  @extend %button-solid;

  &:hover,
  &:focus,
  &:active {
    @extend %button-solid--invert;
  }
}

%button--hollow {
  @extend .btn;
  @extend %button-hollow;

  &:hover,
  &:focus,
  &:active {
    @extend %button-hollow--invert;
  }
}


button,
.button {
  @extend %button;
}

.button--hollow {
  @extend %button--hollow;
}
