<button class="hamburger navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navigation" aria-controls="site-navigation" aria-expanded="false" aria-label="Toggle
navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
