---
title: KalaStatic Redirect
description: This redirect exists to force BrowserSync to use /kalastatic as the web root.
destination: /kalastatic/styleguide/section-content.html
---

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="0;URL='{{ destination }}'" />
  </head>
  <body>
    <!-- This is a redirect page to /kalastatic/styleguide/section-content.html . -->
  </body>
</html>
